 /*features of news*/
 .m-auto{
  margin: auto;
 }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .slideshow{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .photo-slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .photo-slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: white;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #eeeeee;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #A7A7A7;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #A7A7A7;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #A7A7A7;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #A7A7A7;
  }
  /*sliding image*/
  body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
    font-family: sans-serif;
  }
  
  .slider--container {
    position: relative; /* "relative", so that h1 and images can be set absolutely */
    height: 90vh; /* Adjust the height to your needs here */
    width: 90vw; /* Adjust the width to your needs here */
    margin: 0 auto;
    overflow: hidden;
    border-radius: .125rem;
    box-shadow: 0 0 .1rem .125rem rgba(0, 0, 0, 0.25);
  }
  
  .slider--heading {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    z-index: 99;
    font: 300 1.25rem/1.25 Verdana, sans-serif;
    text-align: center;
    background-color: rgba(247, 245, 245, 0.5);
    color: rgba(2, 47, 65, 0.5);
    transform: translate3d(-50%, -50%, 0);
  }
  .slider--heading h1 {
    font: 300 1.25rem/1.25 Verdana, sans-serif;
    text-transform: uppercase;
    color: rgba(0,0,0,.5);
  }
    /* Responsive styles for the heading */
    /* ===== == = === 30em (480px) === = == ===== */
    @media only screen and (min-width : 30em) {
      .slider--heading h1 {font-size: 1.5rem;}
    }
    /* ===== == = === 48em (768px) === = == ===== */
    @media only screen and (min-width : 48em) {
      .slider--heading h1 {font-size: 1.75rem;}
    }
  
  .btn {
    margin: 1rem;
    padding: .5rem;
    font-size: .75rem;
    text-decoration: none;
    text-shadow: 1px 1px 1px #999999;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #EFEFEF;
    color: #333;
  }
    /* Responsive styles for the button */
    /* ===== == = === 30em (480px) === = == ===== */
    @media only screen and (min-width : 30em) {
      .btn {
        font-size: 1rem;
      }
    }
    /* ===== == = === 48em (768px) === = == ===== */
    @media only screen and (min-width : 48em) {
      .btn {
        font-size: 1.25rem;
      }
    }
  .btn:hover {
    text-decoration: none;
    color: #999;
  }
  
  .slider--image {
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: 45s ease-in-out infinite;
  } 
   /* Name of animations and selection of images */
  .slider--image:nth-of-type(1) {
    animation-name: slide-01;
  }
  .slider--image:nth-of-type(2) {
    animation-name: slide-02;
  }
  .slider--image:nth-of-type(3) {
    animation-name: slide-03;
  }
  
  /* Images are overlaid and visible or invisible due to different transparency */
  /* Moving the images with transform: scale & translate */
    /* Styles for webkit browsers */
  @-webkit-keyframes slide-01 {
    0%  { opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
    16%  {opacity:1; -webkit-transform: scale(1.2) translate(-20px, -10px);}
    33%  {opacity:0; -webkit-transform: scale(1.4) translate(0, 0);}
    50%  {opacity:0;}
    67%  {opacity:0;}
    84%  {opacity:0;}
    100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
  }
  @-webkit-keyframes slide-02 {
    0%  { opacity:0;}
    16%  {opacity:0; -webkit-transform: scale(1.2) translate(-20px, -10px);}
    33%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
    50%  {opacity:1; -webkit-transform: scale(1.2) translate(-20px, 10px);}
    67%  {opacity:0; -webkit-transform: scale(1.4) translate(0, 0);}
    84%  {opacity:0;}
    100%  {opacity:0;}
  }
  @-webkit-keyframes slide-03 {
    0%  { opacity:0;}
    16%  {opacity:0;}
    33%  {opacity:0;}
    50%  {opacity:0; -webkit-transform: scale(1.4) translate(0, 0);}
    67%  {opacity:1; -webkit-transform: scale(1.4) translate(-20px, 10px);}
    84%  {opacity:1; -webkit-transform: scale(1.2) translate(20px, -10px);}
    100%  {opacity:0; -webkit-transform: scale(1.4) translate(0, 0);}
  }
  
    /* Styles for all other browsers */
  @keyframes slide-01 {
    0%  { opacity:1; transform: scale(1.4) translate(0, 0);}
    16%  {opacity:1; transform: scale(1.2) translate(-20px, -10px);}
    33%  {opacity:0; transform: scale(1.4) translate(0, 0);}
    50%  {opacity:0;}
    67%  {opacity:0;}
    84%  {opacity:0;}
    100%  {opacity:1; transform: scale(1.4) translate(0, 0);}
  }
  @keyframes slide-02 {
    0%  { opacity:0;}
    16%  {opacity:0; transform: scale(1.2) translate(-20px, -10px);}
    33%  {opacity:1; transform: scale(1.4) translate(0, 0);}
    50%  {opacity:1; transform: scale(1.2) translate(-20px, 10px);}
    67%  {opacity:0; transform: scale(1.4) translate(0, 0);}
    84%  {opacity:0;}
    100%  {opacity:0;}
  }
  @keyframes slide-03 {
    0%  { opacity:0;}
    16%  {opacity:0;}
    33%  {opacity:0;}
    50%  {opacity:0; transform: scale(1.4) translate(0, 0);}
    67%  {opacity:1; transform: scale(1.4) translate(-20px, 10px);}
    84%  {opacity:1; transform: scale(1.2) translate(20px, -10px);}
    100%  {opacity:0; transform: scale(1.4) translate(0, 0);}
  }

